
<ng-template #divLoading>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>


<div *ngIf="cliente; else divLoading" class="grid p-2">

  <mat-card class="col-12 sm:col-6">

    <mat-card-header>
      <mat-card-title>{{ cliente.apellidos }}</mat-card-title>
      <mat-card-subtitle>{{ cliente.nombres }}</mat-card-subtitle>
    </mat-card-header>


    <img [src]="cliente | clienteImage" [alt]="cliente.nombres" mat-card-image  />

  </mat-card>

  <mat-card class="col-12 sm:col-6">

    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
      <mat-card-subtitle>{{ cliente.nombres }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>{{ cliente.pais }}</mat-list-item>
        <mat-list-item>{{ cliente.cedula}}</mat-list-item>
        <mat-list-item>{{ cliente.apellidos }}</mat-list-item>
      </mat-list>

      <button
        mat-button
        color="warn"
        (click)="goBack()"
      >
        Regresar
      </button>

    </mat-card-content>


  </mat-card>


</div>


